/*
Colores a utilizar
Rosa: #C6426E
Morado: #642B73
Negro: #999
Gris: #f5f5f5
*/
.container { /*Agrego el fondo a toda la pagina por eso lo hago en el div container que es el que contiene todo */

  background: #642B73; /*Este background es un auxilio en caso de que un dispositivo no pueda mostrar el degradado correctamente*/

  background: -webkit-linear-gradient(to right, #C6426E , #642B73);
  background: linear-gradient(to right,#C6426E , #642B73);

  height: 100vh; /*La caja ocupa todo el alto de la pagina*/
  width: 100vw; /*La caja ocupa todo el ancho de la pagina*/

  /*Ubicamos contenido en el centro*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.content { /*Posicionamos el contenido*/
  max-width: 960px;
  width: 100%;
  height: 80%
  background-color: white;
  position: relative; /*Ahora es un elemento posicionado*/

  /*Puedo moverme hacia arriba y abajo pero no hacia los costados*/
  overflow-y: scroll;
  overflow-x: hidden;
}


img{
  max-width: 100%;
}

/*FUENTES PERSONALIZADAS*/
html{ /*Pongo esa letra en todo el sitio web*/
  font-family: 'Nunito', sans-serif;
}

/*MODIFICADORES DE TEXTO Y LINKS*/
.title { /*Quiero que todos los titulos aparezcan en mayuscula*/
  text-transform: uppercase;
}

.paragraph { /*Quiero cambiar la altura de la linea de los parrafos de esta clase (el espaciado entre lineas sera mas alto) y que la fuente se mas delgada*/
  line-height: 1.8em;
  font-weight: 300;
}

a{ /*Cambio el color de los links*/
  color: #d500f9;
}

/*ESTILIZAR TABLAS*/
.table { /*Los cambios se realizaran en todas las class table*/

  width: 100%; /*Ocupan todo el ancho de la caja que contiene a la tabla*/
  border-spacing: 0; /*Todos los bordes aparecen pegados*/

}

.table td, .table th { /*Afecta a todos los td y th de los elementos class table*/

  /*Genero espacio en la tabla para que no este todo pegado y muevo el texto a la izq*/
  padding: 1em;
  text-align: left;

}

.table tr:nth-child(even){background-color: #f3e5f5} /*nth-child es una pseudoclase que en este caso actua sobre todos los tr pares y les cambia el color del fondo*/

/*CAMBIO EL COLOR DE LAS ESTRELLAS*/
.fa-solid,.fa-regular {
  color: #ffc400;
}


/*Shortand Properties permiten especificar el valor de multiples propeidades en una sola declaracion*/
.title-item { /*Hago estos cambios en cada pagina de los estadios*/
  border-bottom: solid 2px #C6426E; /*Asigno en una misma linea solidez tamaño y color*/
  padding-bottom: 1em;

  /*Configurar un padding con shortand properties es
    padding: 1px/em(arriba) 2px/em(derecha) 3px/em(abajo) 4px/em(izquierda)
  */

  /*Configurar los bordes redondeado con shortand properties es
    border-radius: 10px/em
  */
  }

  .actions{

   position: absolute; /*Ahora las medidas que pongamos seran relativas al contenedor (que ya esta marcado como posicionado)*/
  /*Mando la X a la esquina superior derecha*/
   top:1em;
   right:1em;
 }

 .close{/*Configuramos la X*/

   height: 40px;
   width: 40px;
   color: white;
   border-radius: 50%;
   background-color: #642B73;
   display: inline-block;

   cursor: pointer; /*Cambia el tipo de puntero cuando tocamos la X*/

   /*Centramos la X*/
   display: flex;
   align-items: center;
   justify-content: center;

   text-decoration: none;
 }


/*PSEUDOCLASES*/
a:hover{ /*Esta pseudoclase cambia de opacidad por todos los links por donde paso el mouse*/
  opacity: 0.5;
}

/*DETALLES FINALES DE ESTILO (Los cambios en content,title y position debo hacerlo en los que se encuentran mas arriba)*/
.content{
  padding:1.8em /*Genero espacios en blancos del contenido con el contenedor, no queda todo pegado a la "caja"*/

}

.title{
  text-align: center; /*Pongo el titulo en el medio*/
}

.position{
  background-color: #C6426E;
  color:white;
  padding: 0.5em;
  border-radius: 4px;
  margin-right: 0.5em; /*Genero un espacio entre el nombre del estadio y el resto de las coasas*/

}

.address{ /*Modifico el estilo de la ubicacion del estadio */
  font-weight: bold; /*Pongo las letras de la ubicacion mas gruesas*/
  color: #642B73;
  font-size: 1.2em;
  margin-top: 1em;
  display: inline-block;
}

.main-image{ /*acomodo la imagenn en una posicion correcta*/

  float: left; /*El texto va a fluir hacia la derecha de la imagen*/
  margin-right: 1em; /*Separa el texto de la imagen*/
  height: 250px; /*Acomod altura de la imagen*/
}

/*MEDIA QUERIE*/
media (min-height:550px){ /*Para pantallas que tengan un alto minimo de 550px, su altura va a ser de 500px y reacomoda la tabla con ciertos valroes nuevos*/

  .content{
    height: 500px;
  }

  td{
    display:block;
    width: 100%;
  }

  td:nth-of-type(1){ /*Pseudoclase, cambia la fuente de los numeros y los pone mas en negrita*/
    font-size: 1.5em;
    font-weight: bold;
  }

  th{
    display: none;
  }
}

media (max-width:600px){ /*Para pantallas que tengan un ancho maximo de 600px, reducimos el padding a 1em*/
  .content: {
    1em;
  }
}


/*MOBILE FIRST*/
